.video {
    width: 100%;
    height: 100dvh;
    overflow: hidden;
}

.video video {
    object-fit: cover;
    height: 100%; width: 100%;
    transition: transform 0.01s ease-out;
}

.tag {
    position: absolute;
    top: 15rem;

    font-family: var(--ff-sans);
    font-weight: bold;
    font-size: 1.925rem;
    text-transform: uppercase;

    max-width: 30ch;

    color: whitesmoke;

    margin-inline: 3.5rem;
}

.tag span {
    display: block;

    font-size: 1.25rem;

    padding-block: 0.5rem;
}

.two {
    padding-block: 7.5rem;
    padding-inline: 7rem;

    background-color: #020611;
}

.two h2 {
    font-family: var(--ff-josefin);
    font-weight: 400;
    font-size: 2.25rem;
    text-transform: uppercase;

    max-width: 35ch;

    margin-block: 2.5rem;

    color: whitesmoke;
}

.clear {
    filter: blur(0);
}

.three {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-block: 2rem;
}

.three > div:not([class]) {
    text-align: center;
    margin-inline: 2.5rem;
}

.three h3 {
    font-family: var(--ff-sans);
    font-size: 2rem;
}

.three > div p {
    font-family: var(--ff-sans);
}

.services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 1rem;

    margin: 2rem;
}

.grid-col-span-2 {
    grid-column: span 2;
}

.service:last-child {
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.service:nth-child(3) {
    grid-row: span 2;
}

.service:nth-child(4) {
    grid-column: span 2;
}

.service:nth-child(5) {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 5;
}

.services img {
    width: 100%; height: 100%;
    object-fit: cover;
}

.service {
    position: relative;
}

.service a {
    font-family: var(--ff-josefin);
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;

    color: whitesmoke;
}

.service p {
    font-size: 0.925rem;
    font-weight: bold;
    width: 50ch;

    color: whitesmoke;
}

.service div {
    position: absolute;
    bottom: 0;
    border-radius: 1rem;
    width: 80%;
    max-width: 100%;
    overflow: scroll;
    
    background-color: hsl(0, 0%, 0%, 0.3);

    margin-inline: 1rem;
    margin-block: 2rem;
    padding: 0.75rem 1rem;
}


.service > img {
    position: relative;
}

.service > div {
    position: absolute;
}

.four {
    display: grid;
    place-items: center;
    text-align: center;
}

.four video {
    aspect-ratio: 16/9;
    padding-inline: 1.5rem;
}

.four h3 {
    font-family: var(--ff-josefin);
    font-size: 4.5rem;
    text-transform: uppercase;
    max-width: 20ch;

    padding-inline: 1.5rem;
    margin-block: 1.75rem;
}

.last {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    text-align: center;

    padding-block: 5rem;
    padding-inline: 2rem;
}

.last div {
    margin-inline: 2rem;
}

.last img {
    height: 50rem;
    object-fit: cover;
}

.last h3 {
    font-family: var(--ff-josefin);
    font-size: 3.5rem;
    text-transform: uppercase;
}

.last p {
    font-family: var(--ff-sans);
    font-size: 1.5rem;
    max-width: 40ch;
}

@media only screen and (width <= 45em) {

    .tag {
        font-size: 1.125rem;

        margin-inline: 1.5rem;
    }

    .tag span {
        font-size: 1rem;

        padding-block: 0.25rem;
    }

    .two {
        padding-block: 3rem;
        padding-inline: 1rem;
    }

    .two h2 {
        font-size: 1.5rem;
    }

    .services {
        display: block;

        margin-block: 1rem;
    }

    .service {
        margin-block: 2rem;
    }

    .service p {
        width: 30ch;
    }

    .service img {
        height: 35rem;

        opacity: 1;
    }

    .service div {
        width: 90%;
    }

    .four video {
        width: 100%; height: 100%;
    }

    .four h3 {
        font-size: 1.75rem;
        max-width: 25ch;
    }

    .about h3 {
        font-size: 2.5rem;
    }

    .about p {
        padding-inline: 2.5rem;
    }

    .last {
        display: flex;
        flex-direction: column-reverse;
    }

    .last img {
        height: 100%;
        margin-block: 3.5rem;
    }

    .last h3 {
        font-size: 3rem;
    }

    .last p {
        font-size: 1.25rem;
    }

}